RewriteEngine On


RewriteCond %(REQUEST_FILENAME) !-f
RewriteCond %(REQUEST_FILENAME) !-d
RewriteRule ^book/([^\.]+)/([^\.]+)$ book.php?slug=$1&id=$2 [L]
RewriteRule ^thank-you/([^\.]+)$ /user/thank-you.php?ordercode=$1 [L]
RewriteRule ^([^\.]+)$ $1.php [L]